html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 140%;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(img/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 800;
  font-style: Italic;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  vertical-align: middle;
}

/* Menu */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background: #e8eff9;
}

.menu:target {
  transform: translateX(0%);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

/* Navigation */

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: #292929;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main {
  padding: 120px;
  background-color: white;
}

/* Recommended */

.recommended__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

/* Products */

.recommended {
  margin-bottom: 120px;
}

.recommended__products {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.products {
  flex-basis: 324px;
}

.products__photo {
  width: 100%;
}

.products__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 140%;
}

.products__category {
  margin-top: 0;
  margin-bottom: 12px;
}

.products__price {
  margin-top: 0;
  font-weight: bold;
}

/* Categories */

.categories {
  margin: 0 auto;
  min-width: 1020px;
  margin-bottom: 120px;
}

.categories__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

/* Category */

.category {
  margin-bottom: 64px;
}

.category__photo {
  display: flex;
  gap: 3%;
  margin-bottom: 16px;
}

.category__title {
  margin-top: 0;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0px;
}

.photo__wide {
  width: 65%;
}

.photo__square {
  width: 32%;
}

/* How-to-buy */

.how-to-buy {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  min-width: 1020px;
}

.how-to-buy__title {
  flex-basis: 50%;
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: left;
}

.how-to-buy__content {
  flex-basis: 50%;
}

.how-to-buy__benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Footer */

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 460px;
  background-image: url(img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
