body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* Main content */

.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

/* My info */

.my-profession {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  font-weight: 700;
  font-size: 45px;
  color: #000;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-info {
  margin-bottom: 40px;
}

/* My projects */

.my-project-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-project-container {
  margin-bottom: 40px;
}
.my-project-list {
  padding-left: 16px;
}

.my-project-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-project-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: #005fff;
}

.my-project-item-tech {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/*  My Work Experience */

.work-experience-conainer {
  margin-bottom: 12px;
}

.work-experience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-experience-company {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.company-name {
  color: #6d9bf5;
}

.work-experience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.work-experience-period-separator {
  color: #000;
}

.work-experience-duties-list {
  padding-left: 16px;
}

.work-experience-duties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Education */

.education {
  margin-top: 40px;
}

.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-university {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-facultat {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.education-period {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
}

.education-period-separator {
  color: #000;
}

/* Sidebar */
.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Contacts-container */

.contacts-container {
  margin-top: 0;
  margin-bottom: 40px;
}

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  font-weight: 700;
  font-size: 14px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  color: #2979ff;
  line-height: 24px;
}

.contacts-item {
  margin-bottom: 4px;
}

/* Skiils-cintainer */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 16px;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  color: #161d2a;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  body {
    padding: 16px;
  }
}
